@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  font-family: "Roboto";
  background-color: rgb(29, 36, 36);
}

/* Content wrapper */
.app main .content-wrapper {
  border-width: 2px;
  padding-left: 2%;
  padding-right: 2%;
}

/* Header */
#root .app header {
  padding-left: 85px;
  padding-right: 58px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Project grid */
.front-page .project-list .project-grid {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  column-gap: 14px;
  align-content: flex-start;
  row-gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/* Project */
.project-list .project-grid .project {
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 0px 6px 0px #000000;
  max-width: 45%;
  min-width: 45%;
  padding: 25px;
}

/* Project grid */
#root .app main .content-wrapper .front-page .project-list .project-grid {
  grid-template-columns: auto auto !important;
}

/* Footer */
#root .app footer {
  background-color: #333;
}

/* Heading */
.front-page .project-list h2 {
  text-align: center;
}

/* Front page */
.app main .front-page {
  background-color: #838f83;
}

/* Project */
.project-carousel .carousel .project {
  display: grid;
  column-gap: 2%;
}

/* Project */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project {
  grid-template-columns: 65% auto !important;
  box-shadow: 8px 3px 4px 0px #000000 !important;
}

/* Card content */
.carousel .project .card-content {
  background-color: #a8a8a8;
}

/* List Item */
.header nav li {
  font-size: 25px;
}

@media (max-width: 768px) {
  /* Content wrapper */
  .app main .content-wrapper {
    transform: translatex(0px) translatey(0px);
  }
}

/* Header */
#root .app header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Project */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project {
  grid-template-columns: 65% 34% !important;
}

/* Project */
.project-carousel .carousel .project {
  column-gap: 0%;
}

/* Image */
.project-grid .project img {
  display: inline-block;
}

/* Image */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-list
  .project-grid
  .project
  img {
  width: 100% !important;
}

/* Image */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project
  .card-image
  img {
  width: 100% !important;
}

/* Image */
.project-grid .project img {
  max-width: 100%;
  max-height: 300px;
}

/* Image */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-list
  .project-grid
  .project
  img {
  width: auto !important;
  height: auto !important;
}

/* Header.css */

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display the list items horizontally */
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* Image area */
.project-grid .project .image-area {
  display: flex;
  justify-content: center;
}

/* Codebase icon */
.carousel div .codebase-icon {
  width: 32px;
  height: 32px;
}

/* Codebase icon */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-list
  .project-grid
  .project
  div
  div
  .codebase-icon {
  width: 32px !important;
}

/* Codebase icon */
.app .front-page .project-list .project-grid .project div div .codebase-icon {
  height: 32px !important;
}

/* Codebase icon */
.project-grid div .codebase-icon {
  height: 32px;
}

/* Repo link area */
.carousel div .repo-link-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Repo link area */
.project-grid div .repo-link-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Card content */
.carousel .project .card-content {
  padding: 20px;
}

/* Tool badge */
.tool-badge {
  display: flex;
  align-items: center;
}

/* List Item */
.project-grid .tools li {
  list-style-type: none;
}

/* Tools */
.project-grid .project .tools {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
}

/* Paragraph */
.project-grid li p {
  margin-left: 7px;
}

/* Link */
.project-grid div a {
  padding-left: 7px;
}

/* Image */
.project-grid li img {
  max-width: 32px !important;
  max-height: 32px !important;
}

/* Paragraph */
.app footer p {
  color: #ffffff;
}

/* Footer */
#root .app footer {
  height: 50px;
  display: flex;
  padding-left: 30px;
}

/* Header */
#root .app header {
  padding-left: 40px;
}

/* Project grid */
.front-page .project-list .project-grid {
  align-items: stretch;
  display: inline-flex;
}

/* Front page */
.app main .front-page {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Tools */
.project-grid .project .tools {
  flex-wrap: wrap;
}

/* Link */
.carousel div a {
  margin-left: 7px;
}

/* Project carousel */
.app .front-page .project-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Carousel controls */
.front-page .project-carousel .carousel-controls {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

/* Carousel */
.front-page .project-carousel .carousel {
  height: 80vh;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
  box-shadow: 0px 0px 21px 2px #000000;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px;
}

/* Card image */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project
  .card-image {
  height: 100% !important;
  width: 100vw !important;
}

/* Project */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project {
  width: 100% !important;
  height: 100% !important;
}

/* Button */
.project-carousel .carousel-controls button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  font-size: 31px;
  cursor: pointer;
}

/* Project */
.project-carousel .carousel .project {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* Card content */
#root
  .app
  main
  .content-wrapper
  .front-page
  .project-carousel
  .carousel
  .project
  .card-content {
  width: 40% !important;
}

/* Card image */
.carousel .project .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  transition: transform 0.3s;
}

/* Carousel controls */
.front-page .project-carousel .carousel-controls {
  justify-content: space-between;
  width: 85vw;
}

/* Indicators */
.project-carousel .carousel-controls .indicators {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Carousel radio button */
.carousel-controls .indicators .carousel-radio-button {
  margin-left: 5px;
  margin-right: 5px;
}

/* Repo link area */
.project-grid div .repo-link-area {
  position: relative;
  bottom: 0px;
}

/* Carousel */
.front-page .project-carousel .carousel {
  display: inline-flex;
}

/* Front page */
.app main .front-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Project carousel */
.app .front-page .project-carousel {
  width: 95%;
}

/* Carousel controls */
.front-page .project-carousel .carousel-controls {
  margin-top: 5px;
}

.app main .about-me {
  background-color: #ecf0f1;
  padding: 10px 5%;
}

.anchor-bottom {
  position: absolute;
  bottom: 0;
}

/* Mylinks */
.app .about-me .mylinks {
  display: inline-flex;
  list-style-type: none;
  list-style-position: inside;
  justify-content: space-between;
  align-items: center;
}

/* List Item */
.about-me .mylinks li {
  margin-right: 30px;
}
