body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Repo link area */
.carousel div .repo-link-area {
  transform: translatex(0px) translatey(0px);
}

/* Link */
.carousel div a {
  margin-left: 0px;
}

/* Codebase icon */
.carousel div .codebase-icon {
  margin-left: 5px;
  margin-right: 5px;
}

/* Codebase icon */
.project-grid div .codebase-icon {
  margin-left: 5px;
  margin-right: 5px;
}

/* Link */
.project-grid div a {
  padding-left: 0px;
}
